 
#myContainer{
    background: url('/picx/camera.jpg') center center no-repeat;
}

.myFooter{
    background: #333;
    margin-top: 20px;
    height: 80px;
    color: #fff;
    width: 100%;
}

#myHeader{
    color: rgb(41, 39, 29);
    font-style: italic;
    font-weight: bold;
}
/*
#myMission{
    background: #333;
} */

.fa {
    padding: 5px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
  /* facebook icon */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-facebook:hover{
    background: #fff;
    color:#3B5998;
  } 
  
   /* twitter icon */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-twitter:hover{
    background: #fff;
    color: #55ACEE;
  }
  
  /* google icon */
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  .fa-google:hover{
    background: #fff;
    color: #dd4b39;;
  }
  
  /* linkedin icon */
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  .fa-linkedin:hover{
    background: #fff;
    color: #007bb5;
  }
  
  /*
  .fa-youtube {
    background: #bb0000;
    color: white;
  } */
  
  /* insta icon */
  .fa-instagram {
    background: #125688;
    color: white;
  }
  .fa-instagram:hover{
    background: #fff;
    color: #125688;
  }
 